.flex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 1em 0;
}

.productsCard {
  background: linear-gradient(to right, #272025, #D3D2D3);
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px 0 0 10px;
  width: 75%;
  flex-wrap: wrap;

  >div {

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #fff;
    width: 10em;

    img {
      max-width: 6em;
    }

    h1 {
      font-size: 1.2em;
    }

    h2 {
      font-size: 1em;
      font-weight: normal;

    }

    >div {
      display: flex;
align-items: center;
justify-content: space-around;
margin-bottom: 1em;
      button {
        display: block;
        width: 15px;
        height: fit-content;
        display: flex;
        justify-content: center;
        background-color: #D3D2D3;
        font-size: 1em;
        font-weight: 900;

      }
    }

  }
}

.addBtn {
  background-color: #ba1a1a;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 0.2em 0.5em;


  &:focus {
    border-color: #ba1a1a;
  }
}

// ----
.costItems {
  background: linear-gradient(to right, #272025, #D3D2D3);

  padding: 2em;
  width: 60%;
  margin: auto;
  gap: 0.5em;
  border-radius: 5px 0 0 5px;

  >div {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-inline: 1em;
    background-color: #fff;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    h2 {
      margin: 0;
    }
  }

  p,
  h2 {
    font-size: 1em;
  }
}

// -----
form {
  padding: 0 2em;
  border: 1px solid #D3D2D3;
  border-radius: 0 10px 10px 0;

  input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-inline: 0.5em;
    margin-block: 2em;
  }

  input,
  button {
    display: block;
    line-height: 2em;
  }

  button {
    margin-bottom: 1em;
  }
}

.myproducts {
  background-color: #272025;
}